---
import "../../i18n/config";
import i18next, { t, changeLanguage, setDefaultNamespace } from "i18next";
import HeadHrefLangs from "../../components/HeadHrefLangs.astro";
import MainHead from "../../components/MainHead.astro";
import Nav from "../../components/Nav.jsx";
import Footer from "../../components/Footer.astro";
import ContactForm from "../../components/ContactForm.jsx";
import LanguageSelectorWrapper from "../../components/LanguageSelectorWrapper.astro";
import { getNavTranslations } from "../../utils/index";

changeLanguage("en");

setDefaultNamespace("contact");
const navTranslations = getNavTranslations(t);
---

<html lang={i18next.language}>
    <head>
        <MainHead
            title="Services | Encarnación Service SRL"
            description="Los diferentes servicios de sistemas disponibles por Encarnación Service SRL"
        />
        <HeadHrefLangs />
        <style>
            .wrapper.bio {
                max-width: 50em;
            }
        </style>
    </head>
    <body class="bg-world-pattern bg-fixed">
        <Nav
            location="contact"
            translations={navTranslations}
            language={i18next.language}
            client:idle
            ><LanguageSelectorWrapper />
        </Nav>
        <main>
            <div class="grid grid-cols-12">
                <div class="col-span-12 lg:col-span-6 lg:py-8">
                    <ContactForm showPatterns={false} client:visible />
                </div>
                <div
                    class="col-span-12 sm:mx-6 lg:col-span-6 py-16 lg:py-32 px-4 lg:px-8 lg:max-w-7xl"
                >
                    <div class="mb-6 sm:mb-16">
                        <h2
                            class="text-right text-3xl font-bold tracking-tight sm:text-4xl"
                        >
                            Ubicación
                        </h2>
                    </div>
                    <p class="text-right">Dirección:</p>
                    <p class="text-right">
                        <span class="sr-only"
                            >Ubicación en el mapa de Google de Encarnación
                            Service SRL</span
                        >
                        <a
                            target="_blank"
                            href="https://www.google.com/maps/place/Encarnacion+Service+SRL/@18.481114,-69.9389918,18z/data=!4m5!3m4!1s0x8eaf89eea118f2d7:0x1a1c9640afcc52a0!8m2!3d18.4809722!4d-69.938383"
                            role="link"
                            >Av. Abraham Lincoln No. 1067, Edificio Los rios
                            III, Apartamento 202, Ensanche Piantini
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                class="inline w-4 h-4"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M4.25 5.5a.75.75 0 00-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 00.75-.75v-4a.75.75 0 011.5 0v4A2.25 2.25 0 0112.75 17h-8.5A2.25 2.25 0 012 14.75v-8.5A2.25 2.25 0 014.25 4h5a.75.75 0 010 1.5h-5z"
                                    clip-rule="evenodd"></path>
                                <path
                                    fill-rule="evenodd"
                                    d="M6.194 12.753a.75.75 0 001.06.053L16.5 4.44v2.81a.75.75 0 001.5 0v-4.5a.75.75 0 00-.75-.75h-4.5a.75.75 0 000 1.5h2.553l-9.056 8.194a.75.75 0 00-.053 1.06z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </a>
                    </p>
                    <iframe
                        width="600"
                        height="600"
                        class="w-full aspect-square"
                        src="https://maps.google.com/maps?q=Encarnacion%20Service%20SRL%20edif,%20Los%20Rios%20III,%20Av.%20Abraham%20Lincoln%201067,%20Santo%20Domingo,%20Dominican%20Republic&t=&z=15&ie=UTF8&iwloc=&output=embed#"
                    ></iframe>
                </div>
            </div>

            <div>
                <div
                    class="mx-auto max-w-7xl py-24 px-4 sm:py-32 sm:px-6 lg:px-8"
                >
                    <h2 class="text-3xl font-bold tracking-tight text-gray-900">
                        Nuestro Contacto
                    </h2>
                    <p class="mt-6 max-w-3xl text-lg text-gray-500">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="inline w-6 h-6 pr-4"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
                            ></path>
                        </svg><span class="sr-only">Email</span
                        >encarnacionservice@gmail.com
                    </p>
                    <div
                        class="mt-10 grid grid-cols-1 gap-10 sm:grid-cols-2 lg:grid-cols-4"
                    >
                        <div>
                            <h3 class="text-lg font-medium text-gray-900"></h3>
                            <p class="mt-2 text-base text-gray-500">
                                <span class="sr-only">{t("Teléfonos")}</span>
                                <svg
                                    class="col-span-1 inline h-6 w-6 text-gray-400"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    aria-hidden="true"
                                >
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z"
                                    ></path>
                                </svg><span>+1 (809) 686-5784</span>
                            </p>
                        </div>
                        <div>
                            <p class="mt-2 text-base text-gray-500">
                                <span class="block">+1 (809) 689-2413</span>
                            </p>
                        </div>
                        <div>
                            <p class="mt-2 text-base text-gray-500">
                                <span class="block">+1 (809) 686-5784</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <Footer />
    </body>
</html>
