---
import "../../i18n/config";
import i18next, { t, changeLanguage, setDefaultNamespace } from "i18next";
import HeadHrefLangs from "../../components/HeadHrefLangs.astro";
import MainHead from "../../components/MainHead.astro";
import HomeHero from "../../components/HomeHero.astro";
import Nav from "../../components/Nav.jsx";
import Footer from "../../components/Footer.astro";
import ServiceList from "../../components/ServiceList.astro";
import LanguageSelectorWrapper from "../../components/LanguageSelectorWrapper.astro";
import { getNavTranslations } from "../../utils/index";
import "../../styles/global.css";

changeLanguage("en");

setDefaultNamespace("home");
const navTranslations = getNavTranslations(t);
---

<html lang={i18next.language}>
	<head>
		<MainHead
			title="Encarnación Service SRL"
			description="Encarnación Service SRL Santo Domingo, República Dominicana"
		/>
		<HeadHrefLangs />
	</head>
	<body>
		<Nav
			location="home"
			translations={navTranslations}
			language={i18next.language}
			client:idle
		>
			<LanguageSelectorWrapper />
		</Nav>
		<HomeHero />
		<ServiceList />
		<Footer />
	</body>
</html>
