---
import "../i18n/config";
import i18next, { t, changeLanguage, setDefaultNamespace } from "i18next";
import HeadHrefLangs from "../components/HeadHrefLangs.astro";
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.jsx";
import Footer from "../components/Footer.astro";
import ContactForm from "../components/ContactForm.jsx";
import CompanyContact from "../components/CompanyContact.astro";
import CompanyMap from "../components/CompanyMap.astro";
import PageBanner from "../components/PageBanner.astro";
import LanguageSelectorWrapper from "../components/LanguageSelectorWrapper.astro";
import { getNavTranslations } from "../utils/index";

changeLanguage("es");

setDefaultNamespace("contact");
const navTranslations = getNavTranslations(t);
const contactFormTraslations = {
    formAlert: t("contact.form.alert"),
    formTitle: t("contact.title"),
    formName: t("contact.form.name"),
    formEmail: t("contact.form.email"),
    formPhone: t("contact.form.phone"),
    formMessage: t("contact.form.message"),
    formSubmit: t("contact.form.submit"),
};
---

<html lang={i18next.language}>
    <head>
        <MainHead
            title="Contact | Encarnación Service SRL"
            description="Los diferentes servicios de sistemas disponibles por Encarnación Service SRL"
        />
        <HeadHrefLangs />
    </head>
    <body>
        <Nav
            location="contact"
            translations={navTranslations}
            language={i18next.language}
            client:idle
            ><LanguageSelectorWrapper />
        </Nav>
        <PageBanner
            alt="The head of the status of Fray Anton de Montesinos in the foreground appears to be calling a ship off in the background, south of port Santo Domingo during a sunset."
            title={t("title")}
            image="/images/staff_warehouse.jpg"
            imageCoverClasses="object-top"
            alt="staff sharing a tablet"
            titleClasses="block text-gray-800 invisible"
        />
        <main class="">
            <section class="">
                <div
                    class="grid grid-cols-1 border-b items-center lg:grid-cols-12 md:px-4 lg:px-0 bg-gray-50"
                >
                    <div class="lg:col-start-1 lg:col-span-3 py-4 pr-4 sm:px-4">
                        <CompanyContact />
                    </div>

                    <div class="lg:row-start-1 lg:col-start-4 lg:col-span-6">
                        <ContactForm
                            translations={contactFormTraslations}
                            client:idle
                        />
                    </div>
                </div>
            </section>
            <div
                class="border md:border-none pt-4 px-4 overflow-hidden lg:h-auto max-w-7xl mx-auto"
            >
                <CompanyMap height="350" width="600" />
            </div>
        </main>
        <Footer />
    </body>
</html>
