---
import "../i18n/config";
import i18next, { t, changeLanguage, setDefaultNamespace } from "i18next";
import { getRelativeLocaleUrl } from "astro:i18n";
import FeatureCard from "./FeatureCard.astro";

const features = [
    {
        title: "cta.features.one",
        description: "cta.features.subone",
        icon: "/assets/knowledge.svg",
    },
    {
        title: "cta.features.two",
        description: "cta.features.subtwo",
        icon: "/assets/truck.svg",
    },
    {
        title: "cta.features.three",
        description: "cta.features.subthree",
        icon: "/assets/data-management.svg",
    },
];
setDefaultNamespace("home");
changeLanguage(i18next.language);
---

<!-- https://images.unsplash.com/photo-1613690399151-65ea69478674?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80 --><!-- &sat=-100 --><!-- w=2830 -->
<div
    class="relative bg-white py-16 sm:py-24 lg:py-16 bg-center bg-[url('/images/arial_container.jpg')] mx-auto max-w-7xl sm:px-6 lg:px-0 lg:rounded-t-md shadow-2xl"
    aria-label="Arial image of a fully loaded container"
>
    <div
        class="relative mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8"
    >
        <h3
            class="text-3xl text-white font-semibold tracking-tight sm:text-4xl lg:px-32 lg:mx-32"
        >
            {t("cta.title")}
        </h3>

        <div class="mt-16 mb-20">
            <div class="grid grid-cols-1 gap-2 sm:grid-cols-2 xl:grid-cols-3">
                {
                    features.map((feature) => (
                        <FeatureCard
                            {...feature}
                            title={t(feature.title)}
                            description={t(feature.description)}
                        />
                    ))
                }
            </div>
        </div>
        <!-- <p class="mx-auto max-w-prose text-2xl text-white"> -->
        <span
            class="inline-flex mt-8 items-center rounded shadow-lg text-white text-3xl font-medium"
        >
            <!-- class="inline-flex items-center rounded border shadow-lg border-fulvous-300 bg-fulvous-300 px-2.5 py-1.5 text-2xl font-medium text-white hover:bg-fulvous-900 focus:outline-dodger-blue-900 focus:ring-fulvous-900 focus:ring-2 focus:ring-offset-2" -->
        </span>
        <div class="md:mt-10">
            <a
                type="a"
                class="bg-fulvous-300 px-10 py-4 rounded text-white text-lg font-medium hover:bg-fulvous-700 focus:outline-dodger-blue-900 focus:ring-fulvous-700 focus:ring-2 focus:ring-offset-2"
                href={getRelativeLocaleUrl(i18next.language, "/services/")}
            >
                {t("cta.link")}</a
            >
        </div>
    </div>
</div>
