---
import "../i18n/config";
import i18next, { t, changeLanguage, setDefaultNamespace } from "i18next";
import { getRelativeLocaleUrl } from "astro:i18n";
import FeatureCard from "./FeatureCard.astro";

const features = [
    {
        title: "cta.features.one",
        description: "cta.features.subone",
        icon: "/assets/knowledge.svg",
    },
    {
        title: "cta.features.two",
        description: "cta.features.subtwo",
        icon: "/assets/truck.svg",
    },
    {
        title: "cta.features.three",
        description: "cta.features.subthree",
        icon: "/assets/data-management.svg",
    },
];
setDefaultNamespace("home");
changeLanguage(i18next.language);
---

<div class="relative">
    <div
        class="relative mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8"
    >
        <h3
            class="text-3xl text-white font-semibold tracking-tight sm:text-4xl"
        >
            {t("cta.title")}
        </h3>

        <div class="mt-12 mb-12">
            <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 xl:grid-cols-3">
                {
                    features.map((feature) => (
                        <FeatureCard
                            {...feature}
                            title={t(feature.title)}
                            description={t(feature.description)}
                        />
                    ))
                }
            </div>
        </div>
        <div class="pt-4 pb-14 md:mt-10">
            <a
                type="a"
                class="inline-block bg-fulvous-300 px-10 py-3 rounded text-white text-lg font-medium hover:bg-fulvous-700 focus:outline-dodger-blue-900 focus:ring-fulvous-700 focus:ring-2 focus:ring-offset-2"
                href={getRelativeLocaleUrl(i18next.language, "/services/")}
            >
                {t("cta.link")}</a
            >
        </div>
    </div>
</div>
