---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
const {
  title = "Encarnación Service SRL",
  description = "Encarnación Service SRL Santo Domingo, República Dominicana",
} = Astro.props;
---

<!-- 
  Site designed and built by https://econic.media
 -->
<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<link rel="icon" href="/favicon.ico" sizes="32x32" />
<link
  rel="icon"
  type="image/svg+xml"
  href="/logo/Encarnacion_Service_logo_svg_fc.svg"
  media="(prefers-color-scheme: light)"
/>

<link
  rel="icon"
  type="image/svg+xml"
  href="/logo/Encarnacion_Service_Logo_svg_white_01.svg"
  media="(prefers-color-scheme: dark)"
/>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&display=swap"
  rel="stylesheet"
/>
<ClientRouter />
