---
import "../i18n/config";
import i18next, { t, changeLanguage, setDefaultNamespace } from "i18next";
import ServiceCards from "./ServiceCards.astro";

const features = [
    {
        // title: "Confianza",
        description:
            "Miembros de la Asociación Dominicana de Agentes de Aduanas y la Dirección General de Aduanas.",
        icon: "/assets/shield_check.svg",
    },
    {
        // title: "Experimentado",
        description:
            "Una de las primeras agencias aduanales dominicanas en certificarse como Operador Económico Autorizado.",
        icon: "/assets/dominican_republic_filled.svg",
    },
    {
        // title: "Calificado",
        description:
            "Contamos con licencia para operar en todos los puertos del país.",
        icon: "/assets/trophy.svg",
    },
];
setDefaultNamespace("common");
changeLanguage(i18next.language);
---

<div class="relative bg-white py-16 sm:py-24 lg:py-16">
    <div
        class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8"
    >
        <!-- <p
            class="mt-2 text-3xl text-dodger-blue-600 font-semibold tracking-tight sm:text-4xl lg:px-32 lg:mx-32"
        >
            Ofrecemos un servicio eficiente en del marco del comercio seguro
        </p> -->
        <!-- <p class="mx-auto mt-5 max-w-prose text-xl text-gray-500">
            Conoce nuestros servicios y asesorías
        </p> -->
        <div class="mt-12">
            <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
                {features.map((feature) => <ServiceCards {...feature} />)}
            </div>
        </div>
    </div>
</div>
